.bg {
    width: 100%;
}

.btn {
    font-family: 'Raleway', sans-serif;
}

#scrapeButton {
    background-color: rgb(0, 169, 199);
    border-color: rgb(0, 130, 153);
    margin-bottom: 50px;
    width: 300px
}

#footer-text {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: rgb(245, 245, 255);
    font-family: 'Playfair Display', serif;
}

h1 {
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'DM Serif Display', serif;
}
